body
{
    background-color: plum;
}


.navbar{

    text-align: right;
}

.navbar a{
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.navbar a:hover{
    transition: .2s;
    color: greenyellow;

}

img
{
    width: 250px;
    height: 300px;
    display: block;
    margin-left: auto;
     margin-right: auto;
}
